body {
  display: table;
  width: 100%;
  height: 100%;
  font-family: "Lato";
  background-color: #fff; }

.navbar {
  border-color: #D1831D; }

.navbar-header {
  background: #DF9028;
  height: 90px;
  width: 90px;
  border-right: 1px #D1831D solid; }

.navbar-brand {
  line-height: 90px;
  text-align: center;
  margin-top: 22.5px;
  margin-left: 9px;
  padding: 0px;
  height: auto; }

.dropdown-toggle {
  height: 90px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  line-height: 60px !important;
  font-weight: bold;
  color: white !important;
  text-transform: uppercase; }

.dropdown-toggle:hover {
  background-color: none; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #555;
  background-color: transparent;
  opacity: 0.8; }

.navbar {
  background: #333; }

.panel-default {
  border: none;
  border-color: #DF9028; }

.panel-default .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #DF9028; }

.panel-heading {
  padding: 10px 15px;
  padding-top: 12px;
  border-bottom: 2px solid #DF9028;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; }

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: rem(16);
  color: grey; }

p {
  line-height: rem(21); }

.comments {
  margin: rem(40) auto 0;
  max-width: rem(972);
  padding: 0 rem(20); }

.comment-wrap {
  margin-bottom: rem(20);
  display: table;
  width: 100%;
  min-height: rem(85); }

.photo {
  padding-top: rem(10);
  display: table-cell;
  width: rem(56); }
  .photo .avatar {
    border-radius: 50%;
    background-size: contain; }

.comment-block {
  padding: rem(16);
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: rem(3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
  .comment-block textarea {
    width: 100%;
    resize: none; }

.comment-text {
  margin-bottom: rem(20); }

.bottom-comment {
  color: #acb4c2;
  font-size: rem(14); }

.comment-date {
  float: left; }

.comment-actions {
  float: right; }
  .comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer; }
    .comment-actions li.complain {
      padding-right: rem(12);
      border-right: 1px solid #e1e5eb; }
    .comment-actions li.reply {
      padding-left: rem(12);
      padding-right: rem(2); }
    .comment-actions li:hover {
      color: blue; }

footer {
  display: table-row; }
  footer .-footer {
    background-color: #F0EEEE;
    padding: 40px 0px 25px 0px; }
    footer .-footer .-label {
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      margin: 0px 0px 7.5px 0px;
      padding: 0px; }
    footer .-footer .-list {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 13px;
      margin-bottom: 15px; }
      footer .-footer .-list li {
        padding: 2px 0px; }
  footer .-subfooter {
    background-color: #333;
    width: 100%;
    height: 35px;
    line-height: 34px;
    color: #FFF;
    font-size: 11px; }

a.back-to-top {
  display: none;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #DF9028 url("http://html-tuts.com/demo/back-to-top/up-arrow.png") no-repeat center 43%;
  border-radius: 5px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.breadcrumb {
  margin-bottom: 15px; }
  .breadcrumb .active {
    font-weight: bold; }

.ui-card {
  max-width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: #FFF;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
  transition: box-shadow .1s ease,transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
  z-index: ''; }
  .ui-card .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    background: 0 0;
    margin: 0;
    padding: 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0; }
  .ui-card .extra {
    max-width: 100%;
    min-height: 0 !important;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    transition: color .1s ease; }

.ui-card:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.container-fix {
  margin-top: 30px;
  margin-bottom: 30px; }

a {
  color: #808080; }

@media (max-width: 768px) {
  a.back-to-top {
    height: 45px;
    width: 45px; }
  .navbar-header {
    background: #DF9028;
    height: 90px;
    width: 100%;
    border-right: 1px #D1831D solid; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin: 10px 0px 10px 0px; }

h6 {
  fontsize: 8.3333333333px; }

h5 {
  fontsize: 16.6666666667px; }

h4 {
  fontsize: 25px; }

h3 {
  fontsize: 33.3333333333px; }

h2 {
  fontsize: 41.6666666667px; }

h1 {
  fontsize: 50px; }

h5.background {
  position: relative;
  z-index: 1;
  font-size: 20px;
  margin-bottom: 20px;
  color: #A5A5A5; }

h5.background.grey:before {
  border-top: 1px solid #fff;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }

h5.background.grey span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  padding: 0px 15px;
  background-color: #f7f7f7; }

h5.background.white:before {
  border-top: 1px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1; }

h5.background.white span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background-color: #fff;
  padding: 0px 15px; }

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

.btn {
  text-transform: uppercase; }

.btn.btn-lg {
  padding: 6px 30px; }

.thumbnail-title {
  font-size: 20px;
  margin-top: 5px; }

.img-thumb-bg {
  padding: 0;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 3px;
  background-position: center;
  background-color: transparent;
  background-image: url("http://projects.mostlikers.com/_images/estate-image.jpg"); }

.img-thumb-bg p {
  color: #fff;
  margin-bottom: 0;
  line-height: 16px; }

.img-thumb-bg .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background: transparent;
  background: linear-gradient(to bottom, transparent 50%, #000000 100%);
  background: -webkit-linear-gradient(top, transparent 50%, #000000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(50%, transparent), color-stop(100%, #000000));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0); }

.img-thumb-bg .caption {
  bottom: -5px;
  height: 100px;
  font-size: 12px;
  position: absolute;
  padding: 0 20px 20px;
  transition: all 0.3s ease-in-out; }

.img-thumb-bg .caption .tag a {
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #2980B9; }

.img-thumb-bg .caption .title {
  margin-top: 5px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase; }

.img-thumb-bg .caption .title a {
  color: #fff; }

.img-thumb-bg .caption .title a:hover {
  color: #DF9028; }

.img-thumb-bg .caption .meta-data {
  color: #777;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px; }

.img-thumb-bg .caption .meta-data a {
  color: #777; }

.img-thumb-bg .caption .meta-data a .fa {
  color: #2980B9; }

.img-thumb-bg .caption .meta-data a:hover {
  color: #2980B9; }

.img-thumb-bg .caption .content {
  display: none; }

.img-thumb-bg:hover .overlay {
  background: rgba(46, 49, 58, 0.8); }

.img-thumb-bg:hover .caption {
  bottom: 60px; }

.img-thumb-bg:hover .caption .content {
  display: block; }

/*# sourceMappingURL=app.css.map */
