// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "theme";
@import "functions";

body {
	display: table;
	width: 100%;
	height: 100%;
	font-family: $font-family;
	background-color: $primary-bg;
}

//Navigation
header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;

	.navigatie {
		height: 75px $ipt;
		line-height: 70px;
		background: #DF9028;
	}

	.populair {
		height: 40px;
		line-height: 30px;
		background: white;
		border-bottom: 1px #ECECEC solid;
	}
}

nav {
	width: 100;
	&.navbar{
		height: 70px $ipt;
		line-height: 70px;
		background: #DF9028;
		border-bottom: 1px #D1831D solid;

		.navbar-brand {
			padding: 12.5px;
			height: 45px;
		}

		.search {
		    width: 100%;
		    height: 40px;
		    background: rgba(0,0,0,0.3);
		    border: 0;
		    border-radius: 5px;
		    padding: 0px 22px 0px;
		    box-sizing: border-box;
		    line-height: 44px;
		    color: white !important;
		    z-index: 9;
		    font-size: 12px;
		    font-weight: 300;
    	}
	}
}

//Footer
footer {
	display: table-row;
	.-footer {
		background-color: $secondary-bg;
		padding: 40px 0px 25px 0px;
		.-label {
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
			margin: 0px 0px 7.5px 0px;
			padding: 0px;
		}
		.-list {
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-size: 13px;
			margin-bottom: 15px;
			li {
				padding: 2px 0px;
			}
		}
	}
	.-subfooter {
		background-color: #333;
		width: 100%;
		height: 35px;
		line-height: 34px;
		color: $font-clr;
		font-size: 11px;
	}
}

a {
	&.back-to-top {
		display: none;
		width: 45px;
		height: 45px;
		text-indent: -9999px;
		position: fixed;
		z-index: 999;
		right: 20px;
		bottom: 20px;
		background: #DF9028 url("http://html-tuts.com/demo/back-to-top/up-arrow.png") no-repeat center 43%;
		border-radius: 5px;
	}
}

.breadcrumb {

	.active {
		font-weight: bold;
	}
}

//UI

.ui-card {
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #FFF;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    -webkit-transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
    z-index: '';

	.content {
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    border: none;
	    border-top: 1px solid rgba(34,36,38,.1);
	    background: 0 0;
	    margin: 0;
	    padding: 1em;
	    box-shadow: none;
	    font-size: 1em;
	    border-radius: 0;
	}

	.extra {
	    max-width: 100%;
	    min-height: 0!important;
	    -webkit-box-flex: 0;
	    -webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	    flex-grow: 0;
	    border-top: 1px solid rgba(0,0,0,.05)!important;
	    position: static;
	    background: 0 0;
	    width: auto;
	    margin: 0;
	    padding: .75em 1em;
	    top: 0;
	    left: 0;
	    color: rgba(0,0,0,.4);
	    box-shadow: none;
	    -webkit-transition: color .1s ease;
	    transition: color .1s ease;
	}
}

.ui-card:after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}


//Template fixes
.container-fix {
	margin-top: 25px; //Only use one on a page!
	margin-bottom: 30px;
}

a {
    color: #808080; //All <a></a> will have other font color
}

//Mobile fix
@media(max-width: 768px) {
	a {
		&.back-to-top {
			height: 45px;
			width: 45px;
		}
	}
}

//H1, H2, H3, H4, H5, H6 auto genereren!
#{headings(1,6)} {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin: 10px 0px 10px 0px;
}

@for $i from 1 through 6 {
    h#{7 - $i} {
        fontsize: 50px / 6 * $i;
    }
}