

$primary-bg: #F5F5F5;
$secondary-bg: #F0EEEE;
$font-clr: #FFF;
$border-clr: #DDD;

$font-family: 'Lato';
$font-size: 13px;

$text-color: #000;
$a-color: #000;

$text-decoration: none;

$ipt: !important;